<section>
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">Pre contrato</div>
    </div>
  </div>
  <form (ngSubmit)="save()">
    <div class="row text-left">
      <div class="col-md-12 col-lg-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <ul ngbNav #basicnav="ngbNav" [(activeId)]="active" class="nav-tabs">
                                <li [ngbNavItem]="1">
    <a ngbNavLink>Datos generales</a>
    <ng-template ngbNavContent>
                
        <div class="form-row">
            <custom-hidden id="PreContrato-Id" name="Id" #Id [custom-component-validate]="Id" tag="Id"></custom-hidden>
        </div>

                
        <div class="form-row">
            <custom-combo id="PreContrato-IdVendedor" name="IdVendedor" #IdVendedor [custom-component-validate]="IdVendedor" tag="Vendedor" bindValue="id" bindLabel="nombre"></custom-combo>
        </div>

                
        <div class="form-row">
            <custom-textfield id="PreContrato-Numero" name="Numero" #Numero [custom-component-validate]="Numero" tag="Número"></custom-textfield>
        </div>

                
        <div class="form-row">
            <custom-textfield id="PreContrato-NombreProspecto" name="NombreProspecto" #NombreProspecto [custom-component-validate]="NombreProspecto" tag="Nombre del prospecto"></custom-textfield>
        </div>

                
        <div class="form-row">
            <custom-textfield id="PreContrato-ApellidoPaternoProspecto" name="ApellidoPaternoProspecto" #ApellidoPaternoProspecto [custom-component-validate]="ApellidoPaternoProspecto" tag="Apellido paterno del prospecto"></custom-textfield>
        </div>

                
        <div class="form-row">
            <custom-textfield id="PreContrato-ApellidoMaternoProspecto" name="ApellidoMaternoProspecto" #ApellidoMaternoProspecto [custom-component-validate]="ApellidoMaternoProspecto" tag="Apellido materno del prospecto"></custom-textfield>
        </div>

                
        <div class="form-row">
            <custom-date id="PreContrato-FechaNacimientoProspecto" name="FechaNacimientoProspecto" #FechaNacimientoProspecto [custom-component-validate]="FechaNacimientoProspecto" tag="Fecha de nacimiento del prospecto"></custom-date>
        </div>

            </ng-template>
</li>

                
              </ul>

              <div [ngbNavOutlet]="basicnav" class="mt-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: right;">
      <a [routerLink]="['/Catalogs/PreContrato/List']" style="float: left;">
        Ir a lista
      </a>
      <button class="btn btn-primary mr-2">
        <i class="ft-check-square mr-1"></i>Guardar
      </button>
    </div>
  </form>
</section>
