<!--Error page starts-->
<section id="error">
  <div class="container-fluid">
    <div class="row auth-height full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-12 text-center">
            <img src="assets/img/gallery/error.png" alt="" class="img-fluid error-img mt-2" height="300" width="400">
            <h1 class="mt-4">404 - Page Not Found!</h1>
            <div class="w-75 error-text mx-auto mt-4">
              <p>Es posible que la página que buscas haya sido eliminada, que se haya cambiado su nombre o que no esté disponible temporalmente</p>
            </div>
            <a [routerLink]="['/']" class="btn btn-warning my-2">Ir a inicio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Error page ends-->
